In [137]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [138]:
df = pd.read_csv('Master H1B Dataset.csv', low_memory=False, encoding="ISO-8859-1")

In [139]:
df.head(2)

,CASE_SUBMITTED_DAY,CASE_SUBMITTED_MONTH,CASE_SUBMITTED_YEAR,DECISION_DAY,DECISION_MONTH,DECISION_YEAR,VISA_CLASS,EMPLOYER_NAME,EMPLOYER_STATE,EMPLOYER_COUNTRY,...,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_STATE,WORKSITE_POSTAL_CODE,CASE_STATUS
0,24,2,2016,1,10,2016,H1B,DISCOVER PRODUCTS INC,IL,UNITED STATES OF AMERICA,...,2015.0,OFLC ONLINE DATA CENTER,65811.0,67320.0,Year,N,N,IL,60015,CERTIFIEDWITHDRAWN
1,4,3,2016,1,10,2016,H1B,DFS SERVICES LLC,IL,UNITED STATES OF AMERICA,...,2015.0,WILLIS TOWERS WATSON SURVEY,53000.0,57200.0,Year,N,N,IL,60015,CERTIFIEDWITHDRAWN

In [17]:
df.describe()

,CASE_SUBMITTED_DAY,CASE_SUBMITTED_MONTH,CASE_SUBMITTED_YEAR,DECISION_DAY,DECISION_MONTH,DECISION_YEAR,NAICS_CODE,TOTAL_WORKERS,PREVAILING_WAGE,PW_SOURCE_YEAR,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO
count,528134.000000,528134.000000,528134.000000,528134.000000,528134.000000,528134.000000,528132.000000,528134.000000,528134.000000,528103.000000,5.281340e+05,5.281340e+05
mean,15.246426,4.444859,2016.752854,16.565991,4.552377,2016.825876,443548.680673,1.907171,71674.254471,2016.057258,8.161845e+04,2.408603e+04
std,8.154979,3.201000,0.524568,8.457420,3.201752,0.379217,197875.907540,4.925016,31996.910281,5.562969,4.246852e+04,5.239735e+04
min,1.000000,1.000000,2011.000000,1.000000,1.000000,2016.000000,31.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,8.000000,3.000000,2017.000000,9.000000,3.000000,2017.000000,452910.000000,1.000000,55910.000000,2016.000000,6.200000e+04,0.000000e+00
50%,15.000000,3.000000,2017.000000,17.000000,3.000000,2017.000000,541511.000000,1.000000,68827.000000,2016.000000,7.500000e+04,0.000000e+00
75%,22.000000,5.000000,2017.000000,23.000000,5.000000,2017.000000,541511.000000,1.000000,87214.000000,2016.000000,9.776000e+04,0.000000e+00
max,31.000000,12.000000,2017.000000,31.000000,12.000000,2017.000000,999990.000000,155.000000,414007.000000,2017.000000,1.350000e+06,3.000000e+06

In [140]:
df.groupby(['CASE_STATUS']).size()

CASE_STATUS
CERTIFIED             468969
CERTIFIEDWITHDRAWN     36170
DENIED                  6983
WITHDRAWN              16012
dtype: int64

In [141]:
is_WITHDRAWN =  df['CASE_STATUS']=='WITHDRAWN'
is_DENIED =  df['CASE_STATUS']=='DENIED'
is_CERTIFIEDWITHDRAWN =  df['CASE_STATUS']=='CERTIFIEDWITHDRAWN'
is_CERTIFIED =  df['CASE_STATUS']=='CERTIFIED'

In [142]:
df_is_WITHDRAWN = df[is_WITHDRAWN]
df_is_DENIED = df[is_DENIED]
df_is_CERTIFIEDWITHDRAWN = df[is_CERTIFIEDWITHDRAWN]
df_is_CERTIFIED = df[is_CERTIFIED]

In [143]:
print(df_is_CERTIFIED.shape)

(468969, 27)

In [144]:
np.random.seed(53)
df_is_WITHDRAWN_trim = df_is_WITHDRAWN.sample(6983)
df_is_DENIED_trim = df_is_DENIED.sample(6983)
df_is_CERTIFIEDWITHDRAWN_trim = df_is_CERTIFIEDWITHDRAWN.sample(6983)
df_is_CERTIFIED_trim = df_is_CERTIFIED.sample(6983)

In [145]:
frames = [df_is_WITHDRAWN_trim, df_is_DENIED_trim, df_is_CERTIFIEDWITHDRAWN_trim, df_is_CERTIFIED_trim]

h1b_df = pd.concat(frames)

In [146]:
print(h1b_df.shape)

(27932, 27)

In [26]:
h1b_df.to_csv('h1b_dataset_trimmed.csv', index=False)

In [147]:
h1b_df2 = h1b_df

In [135]:
#h1b_df = h1b_df2

In [148]:
h1b_df.drop(['CASE_SUBMITTED_DAY', 'CASE_SUBMITTED_MONTH','CASE_SUBMITTED_YEAR','DECISION_DAY','DECISION_MONTH','DECISION_YEAR','WORKSITE_POSTAL_CODE', 'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYER_COUNTRY', 'PW_SOURCE_YEAR', 'WORKSITE_STATE'], axis=1, inplace=True)

In [157]:
h1b_df.head(10)

,VISA_CLASS,SOC_NAME,NAICS_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_SOURCE,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,H-1B_DEPENDENT,WILLFUL_VIOLATOR,CASE_STATUS
283867,H1B,SCIENTIST,5415.0,1,Y,114962.00,OES,OFLC ONLINE DATA CENTER,115000.00,0.0,Y,N,WITHDRAWN
171362,H1B,COUNSELORS,4249.0,1,N,73476.48,OES,OFLC ONLINE DATA CENTER,73476.48,0.0,N,N,WITHDRAWN
46557,E3 Australian,ANALYSTS,454111.0,1,Y,40993.92,Other,OFLC ONLINE DATA CENTER,45000.00,0.0,NaN,NaN,WITHDRAWN
226072,H1B,SCIENTIST,611310.0,1,Y,58864.00,OES,OFLC ONLINE DATA CENTER,58894.00,0.0,N,N,WITHDRAWN
123776,H1B,ACCOUNTANTS,541510.0,1,Y,81869.00,OES,OFLC ONLINE DATA CENTER,81869.00,120000.0,N,N,WITHDRAWN
8897,H1B,ANALYSTS,541490.0,1,Y,53144.00,OES,OFLC ONLINE DATA CENTER,53144.00,0.0,N,N,WITHDRAWN
252329,H1B,SCIENTIST,541712.0,1,N,60551.04,OES,OFLC ONLINE DATA CENTER,60551.04,0.0,N,N,WITHDRAWN
226031,H1B,EDUCATION,5415.0,1,Y,69368.00,Other,OFLC ONLINE DATA CENTER,80000.00,0.0,Y,N,WITHDRAWN
226080,H1B,SCIENTIST,541519.0,1,Y,90688.00,OES,OFLC ONLINE DATA CENTER,98000.00,0.0,N,N,WITHDRAWN
242937,H1B,REPORTERS AND CORRESPONDENTS,54121.0,1,Y,53109.00,OES,OFLC ONLINE DATA CENTER,53019.00,0.0,N,N,WITHDRAWN

In [149]:
h1b_df['WAGE_RATE_OF_PAY_FROM'] = np.where(h1b_df['WAGE_UNIT_OF_PAY']=='Hour', h1b_df['WAGE_RATE_OF_PAY_FROM']*2112, h1b_df['WAGE_RATE_OF_PAY_FROM'])
h1b_df['PREVAILING_WAGE'] = np.where(h1b_df['PW_UNIT_OF_PAY']=='Hour', h1b_df['PREVAILING_WAGE']*2112, h1b_df['PREVAILING_WAGE'])
h1b_df['WAGE_RATE_OF_PAY_TO'] = np.where(h1b_df['WAGE_UNIT_OF_PAY']=='Hour', h1b_df['WAGE_RATE_OF_PAY_TO']*2112, h1b_df['WAGE_RATE_OF_PAY_TO'])

In [150]:
h1b_df['WAGE_RATE_OF_PAY_FROM'] = np.where(h1b_df['WAGE_UNIT_OF_PAY']=='Bi-Weekly', h1b_df['WAGE_RATE_OF_PAY_FROM']*104, h1b_df['WAGE_RATE_OF_PAY_FROM'])
h1b_df['PREVAILING_WAGE'] = np.where(h1b_df['PW_UNIT_OF_PAY']=='Bi-Weekly', h1b_df['PREVAILING_WAGE']*104, h1b_df['PREVAILING_WAGE'])
h1b_df['WAGE_RATE_OF_PAY_TO'] = np.where(h1b_df['WAGE_UNIT_OF_PAY']=='Bi-Weekly', h1b_df['WAGE_RATE_OF_PAY_TO']*104, h1b_df['WAGE_RATE_OF_PAY_TO'])

In [151]:
h1b_df['WAGE_RATE_OF_PAY_FROM'] = np.where(h1b_df['WAGE_UNIT_OF_PAY']=='Month', h1b_df['WAGE_RATE_OF_PAY_FROM']*12, h1b_df['WAGE_RATE_OF_PAY_FROM'])
h1b_df['PREVAILING_WAGE'] = np.where(h1b_df['PW_UNIT_OF_PAY']=='Month', h1b_df['PREVAILING_WAGE']*12, h1b_df['PREVAILING_WAGE'])
h1b_df['WAGE_RATE_OF_PAY_TO'] = np.where(h1b_df['WAGE_UNIT_OF_PAY']=='Month', h1b_df['WAGE_RATE_OF_PAY_TO']*12, h1b_df['WAGE_RATE_OF_PAY_TO'])

In [152]:
h1b_df['WAGE_RATE_OF_PAY_FROM'] = np.where(h1b_df['WAGE_UNIT_OF_PAY']=='Week', h1b_df['WAGE_RATE_OF_PAY_FROM']*52, h1b_df['WAGE_RATE_OF_PAY_FROM'])
h1b_df['PREVAILING_WAGE'] = np.where(h1b_df['PW_UNIT_OF_PAY']=='Week', h1b_df['PREVAILING_WAGE']*52, h1b_df['PREVAILING_WAGE'])
h1b_df['WAGE_RATE_OF_PAY_TO'] = np.where(h1b_df['WAGE_UNIT_OF_PAY']=='Week', h1b_df['WAGE_RATE_OF_PAY_TO']*52, h1b_df['WAGE_RATE_OF_PAY_TO'])

In [153]:
df.groupby(['WAGE_UNIT_OF_PAY']).size()

WAGE_UNIT_OF_PAY
Bi-Weekly       104
Hour          32793
Month           397
Week            172
Year         494664
dtype: int64

In [155]:
h1b_df.drop(['WAGE_UNIT_OF_PAY','PW_UNIT_OF_PAY'], axis=1, inplace=True)

In [156]:
h1b_df.shape

(27932, 13)

In [64]:
h1b_df.head(2)

,VISA_CLASS,SOC_NAME,NAICS_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_SOURCE,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,CASE_STATUS
283867,H1B,SCIENTIST,5415.0,1,Y,114962.00,Year,OES,OFLC ONLINE DATA CENTER,115000.00,0.0,Year,Y,N,WITHDRAWN
171362,H1B,COUNSELORS,4249.0,1,N,34.79,Hour,OES,OFLC ONLINE DATA CENTER,34.79,0.0,Hour,N,N,WITHDRAWN

In [158]:
h1b_df_encoded = pd.get_dummies(h1b_df[['VISA_CLASS', 'SOC_NAME', 'FULL_TIME_POSITION',  'PW_SOURCE', 'PW_SOURCE_OTHER','H-1B_DEPENDENT','WILLFUL_VIOLATOR']],drop_first=True)

In [159]:
h1b_df_encoded.shape

(27932, 223)

In [160]:
h1b_df_encoded.head(2)

,VISA_CLASS_H1B,VISA_CLASS_H1B1 Chile,VISA_CLASS_H1B1 Singapore,SOC_NAME_ACTUARIES,SOC_NAME_AGRICULTURE,SOC_NAME_ANALYSTS,SOC_NAME_ANIMAL HUSBANDARY,SOC_NAME_ARCHITECTURE,SOC_NAME_BUSINESS OPERATIONS SPECIALIST,SOC_NAME_CHIEF EXECUTIVES,...,PW_SOURCE_OTHER_UTAH DEPARTMENT OF WORKFORCE SERVICES,PW_SOURCE_OTHER_WATSON WYATT ENGINEERING DESIGN and TECHNICAL SPECIALTY COMPENSATION,PW_SOURCE_OTHER_WESTERN MANAGEMENT GROUP,PW_SOURCE_OTHER_WESTMINSTER CHRISTIAN PRIVATE SCHOOL INC,PW_SOURCE_OTHER_WILLIS TOWERS WATSON SURVEY,PW_SOURCE_OTHER_WMS AND CO ANNUAL SEED INDUSTRY COMPENSATION AND BENEFITS SURVEY,PW_SOURCE_OTHER_WWFCLDATACENTER,PW_SOURCE_OTHER_ZWEIG GROUP SALARY SURVEY,H-1B_DEPENDENT_Y,WILLFUL_VIOLATOR_Y
283867,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
171362,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [161]:
result = pd.concat([ h1b_df_encoded, h1b_df[['NAICS_CODE','TOTAL_WORKERS', 'PREVAILING_WAGE','WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'CASE_STATUS']]], axis=1)

In [162]:
result.shape

(27932, 229)

In [163]:
result.head(2)

,VISA_CLASS_H1B,VISA_CLASS_H1B1 Chile,VISA_CLASS_H1B1 Singapore,SOC_NAME_ACTUARIES,SOC_NAME_AGRICULTURE,SOC_NAME_ANALYSTS,SOC_NAME_ANIMAL HUSBANDARY,SOC_NAME_ARCHITECTURE,SOC_NAME_BUSINESS OPERATIONS SPECIALIST,SOC_NAME_CHIEF EXECUTIVES,...,PW_SOURCE_OTHER_WWFCLDATACENTER,PW_SOURCE_OTHER_ZWEIG GROUP SALARY SURVEY,H-1B_DEPENDENT_Y,WILLFUL_VIOLATOR_Y,NAICS_CODE,TOTAL_WORKERS,PREVAILING_WAGE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,CASE_STATUS
283867,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,5415.0,1,114962.00,115000.00,0.0,WITHDRAWN
171362,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4249.0,1,73476.48,73476.48,0.0,WITHDRAWN

In [95]:
df.groupby(['WAGE_RATE_OF_PAY_TO']).size()

WAGE_RATE_OF_PAY_TO
0.00          413260
7.50               7
8.00               4
8.50               1
8.75               1
9.00               2
9.21               1
9.24               3
9.50               3
10.00              6
10.20              1
10.42              1
10.50              2
10.62              1
11.00              5
11.17              1
11.25              2
11.26              1
11.54              1
11.91              1
12.00             11
12.30              1
12.41              2
12.50              2
12.84              2
13.00              3
13.50              3
13.75              1
13.86              1
14.00             12
               ...
630000.00          2
635000.00          1
650000.00          9
675000.00          3
685000.00          1
695000.00          1
700000.00          8
725000.00          1
727999.00          1
750000.00          2
765000.00          2
770000.00          1
772914.00          4
800000.00          2
804391.00          1
836377.00          1
850000.00          1
903000.00          3
972015.00          1
999000.00          1
1000000.00         1
1100000.00         7
1150000.00         1
1200000.00         1
1208420.00         2
1500000.00         2
1540000.00         1
1600000.00         1
1672500.00         1
3000000.00         1
Length: 13038, dtype: int64

In [164]:
null_columns=result.columns[result.isnull().any()]

In [165]:
result[null_columns].isnull().sum()

NAICS_CODE    2
dtype: int64

In [166]:
result = result[np.isfinite(result['NAICS_CODE'])]

In [167]:
result.fillna(0)

,VISA_CLASS_H1B,VISA_CLASS_H1B1 Chile,VISA_CLASS_H1B1 Singapore,SOC_NAME_ACTUARIES,SOC_NAME_AGRICULTURE,SOC_NAME_ANALYSTS,SOC_NAME_ANIMAL HUSBANDARY,SOC_NAME_ARCHITECTURE,SOC_NAME_BUSINESS OPERATIONS SPECIALIST,SOC_NAME_CHIEF EXECUTIVES,...,PW_SOURCE_OTHER_WWFCLDATACENTER,PW_SOURCE_OTHER_ZWEIG GROUP SALARY SURVEY,H-1B_DEPENDENT_Y,WILLFUL_VIOLATOR_Y,NAICS_CODE,TOTAL_WORKERS,PREVAILING_WAGE,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,CASE_STATUS
283867,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,5415.0,1,114962.00,115000.00,0.0,WITHDRAWN
171362,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4249.0,1,73476.48,73476.48,0.0,WITHDRAWN
46557,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,454111.0,1,40993.92,45000.00,0.0,WITHDRAWN
226072,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,611310.0,1,58864.00,58894.00,0.0,WITHDRAWN
123776,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541510.0,1,81869.00,81869.00,120000.0,WITHDRAWN
8897,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,541490.0,1,53144.00,53144.00,0.0,WITHDRAWN
252329,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541712.0,1,60551.04,60551.04,0.0,WITHDRAWN
226031,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,5415.0,1,69368.00,80000.00,0.0,WITHDRAWN
226080,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541519.0,1,90688.00,98000.00,0.0,WITHDRAWN
242937,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,54121.0,1,53109.00,53019.00,0.0,WITHDRAWN
344360,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541511.0,1,79331.00,94973.00,0.0,WITHDRAWN
321014,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,813410.0,2,28343.04,38016.00,42240.0,WITHDRAWN
115595,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541710.0,1,62878.00,73400.00,79267.0,WITHDRAWN
506420,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,87651.00,87700.00,0.0,WITHDRAWN
524851,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,76128.00,76128.00,95800.0,WITHDRAWN
50190,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,55111.0,1,63571.20,86317.44,0.0,WITHDRAWN
28123,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,54133.0,1,68848.00,80000.00,0.0,WITHDRAWN
100399,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541511.0,50,98987.00,98987.00,0.0,WITHDRAWN
320695,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,53186.00,68515.00,0.0,WITHDRAWN
472917,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,5416.0,3,73736.00,73800.00,0.0,WITHDRAWN
432131,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,541511.0,1,65208.00,78957.00,0.0,WITHDRAWN
43653,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,60798.00,85000.00,0.0,WITHDRAWN
461464,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,80184.00,94563.00,0.0,WITHDRAWN
273200,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,40,64400.00,70000.00,110000.0,WITHDRAWN
167775,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,611310.0,1,57197.00,62756.00,0.0,WITHDRAWN
491464,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,523110.0,1,72488.00,90000.00,0.0,WITHDRAWN
273236,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,524210.0,1,121971.00,121971.00,139000.0,WITHDRAWN
310413,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,51147.00,60000.00,0.0,WITHDRAWN
8855,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,541519.0,1,70096.00,71000.00,0.0,WITHDRAWN
196143,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541330.0,1,64522.00,64522.00,0.0,WITHDRAWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98537,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,107266.00,114819.00,0.0,CERTIFIED
145436,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,80101.00,82846.00,0.0,CERTIFIED
380295,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541511.0,1,103168.00,121860.00,0.0,CERTIFIED
271574,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,94619.00,94619.00,0.0,CERTIFIED
458602,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541330.0,1,77376.00,77376.00,87000.0,CERTIFIED
452646,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,541511.0,1,68390.00,68390.00,0.0,CERTIFIED
490557,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,60070.00,70000.00,0.0,CERTIFIED
311443,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,5416.0,2,80267.00,80267.00,0.0,CERTIFIED
193784,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,68723.00,69166.00,0.0,CERTIFIED
274940,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,333294.0,1,65749.00,78000.00,86000.0,CERTIFIED
230357,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,56145.0,1,72488.00,90000.00,0.0,CERTIFIED
274750,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,541511.0,1,52853.00,60000.00,0.0,CERTIFIED
426647,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,541613.0,1,97656.00,100000.00,0.0,CERTIFIED
164925,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,334510.0,1,92914.00,105000.00,115000.0,CERTIFIED
164581,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,33441.0,1,96429.00,107026.00,0.0,CERTIFIED
443927,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,77210.00,77210.00,0.0,CERTIFIED
396518,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,45656.00,46000.00,0.0,CERTIFIED
8515,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,56133.0,1,100693.00,102000.00,0.0,CERTIFIED
43185,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,561310.0,1,66485.76,66485.76,0.0,CERTIFIED
78687,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,81640.00,82000.00,0.0,CERTIFIED
304727,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,65666.00,66000.00,0.0,CERTIFIED
447700,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,561310.0,1,55461.12,57446.40,0.0,CERTIFIED
145891,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,77272.00,78000.00,0.0,CERTIFIED
76159,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541211.0,1,48449.28,63360.00,0.0,CERTIFIED
19205,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,60050.00,70770.00,0.0,CERTIFIED
295480,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,541511.0,1,55390.00,65000.00,0.0,CERTIFIED
122098,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,522190.0,1,114546.00,118165.60,0.0,CERTIFIED
463435,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,813910.0,1,89461.00,90000.00,0.0,CERTIFIED
149322,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,541511.0,1,63127.68,63127.68,0.0,CERTIFIED
378805,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,424990.0,1,49125.12,49125.12,0.0,CERTIFIED

In [177]:
from sklearn.model_selection import train_test_split

# create design matrix X and target vector y
X = np.array(result.ix[:, 0:228]) # end index is exclusive
y = np.array(result['CASE_STATUS']) # another way of indexing a pandas df

# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [178]:
X_train.shape

(18713, 228)

In [179]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# instantiate learning model (k = 3)
knn = KNeighborsClassifier(n_neighbors=3)

# fitting the model
knn.fit(X_train, y_train)

# predict the response
pred = knn.predict(X_test)

# evaluate accuracy
print (accuracy_score(y_test, pred))

0.38439839427145495

In [180]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier().fit(X_train, y_train)
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on training set: 1.00
Accuracy of Decision Tree classifier on test set: 0.62

In [181]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)
print('Accuracy of LDA classifier on training set: {:.2f}'
     .format(lda.score(X_train, y_train)))
print('Accuracy of LDA classifier on test set: {:.2f}'
     .format(lda.score(X_test, y_test)))

Accuracy of LDA classifier on training set: 0.67
Accuracy of LDA classifier on test set: 0.67

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [ ]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(X_train, y_train)
print('Accuracy of SVM classifier on training set: {:.2f}'
     .format(svm.score(X_train, y_train)))
print('Accuracy of SVM classifier on test set: {:.2f}'
     .format(svm.score(X_test, y_test)))

In [124]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
print('Accuracy of GNB classifier on training set: {:.2f}'
     .format(gnb.score(X_train, y_train)))
print('Accuracy of GNB classifier on test set: {:.2f}'
     .format(gnb.score(X_test, y_test)))

Accuracy of GNB classifier on training set: 0.32
Accuracy of GNB classifier on test set: 0.32

In [125]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}'
     .format(knn.score(X_test, y_test)))

Accuracy of K-NN classifier on training set: 0.59
Accuracy of K-NN classifier on test set: 0.41

In [126]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
print('Accuracy of Logistic regression classifier on training set: {:.2f}'
     .format(logreg.score(X_train, y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'
     .format(logreg.score(X_test, y_test)))

Accuracy of Logistic regression classifier on training set: 0.29
Accuracy of Logistic regression classifier on test set: 0.29